<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Centro de Atención al Visitante</name>

<description>
Aplicación con información para visitantes a museos y colecciones artísticas
</description>

<author href="http://www.pyrenalia.com" email="rmunoz@pyrenalia.com">
Reynaldo Muñoz de Diego
</author>

</widget>
